<%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/stylesheets/carrinho.css">

    <p class="barraLaranja"></p>

    <main>
        <div class="addres">
            <div class="select">
                <h2 id="select-addres">SELECIONE O ENDEREÇO</h2>
            </div>
            <div class="infosCEP">
                <input id="enterCEP" placeholder="Inserir CEP" value="">
                <button type="submit" id="buttonOK">OK</button>
                <a target="_blank" href="https://buscacepinter.correios.com.br/app/endereco/index.php" class="CEP">Não
                    lembro meu CEP</a>
            </div>
        </div>
        <% if (carrinho  &&  carrinho.length != 0){ %>
            <% carrinho.map((produto, index)=> { %>
                <div class="product">
                    <div class="interfaceProduct">
                        <h2 id="product">
                            <%= produto.modelo %>
                        </h2>
                        <div class="productImage">
                            <img src="images/<%= produto.imagem %>" alt="Imagem do produto">
                        </div>
                    </div>
                    <div class="description">
                        <p id="robot"></p>
                        <div id="description">
                            <span id="descriptionProduct">
                                <%= produto.preco %>
                            </span>
                        </div>
                        <div id="description">
                            <span id="descriptionProduct" class="margin-end">Parcelado no cartão em até 10x: </span>
                        </div>
                    </div>
                    <div class="cupom">
                        <div class="infosCupom">
                            <form action=<%=`/carrinhod/${index}`%> method="post">
                                <button>EXCLUIR</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% })}else{ %>
                    <div class="noProduct">
                        Não tem produtos no seu carrinho.
                    </div>
                    <% } %>
                        </div>
                        <form action="/destroy">
                            <button>APAGAR TUDO</button>
                        </form>
                        <div class="cart">
                            <div id="cart">
                                <button type="submit" id="payment">IR PARA O PAGAMENTO</button>
                                <button type="submit" id="continue">CONTINUAR COMPRANDO</button>
                            </div>
                        </div>
    </main>

    <%- include('../partials/footer') %>